a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #00ad5f;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}