{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Object</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/object_info.css' %}" />

</head>

<body>
	<div class="card text-center">
		<div class="card-body">
			<div class="col-lg-4 col-lg-offset-4" id="content" style="text-align: center;">
				<ul class="list-group">
					{% for element in info %}
						<li class="list-group-item">{{element}}</li>
					{% endfor %}
				</ul>
				<a href="">Оформить заказ</a>
			</div>
		</div>
	</div>
</body>

